{% extends "base.html" %}
{% block title %}
  Home
{% endblock %}
{% block content %}
  <h3> Balance: {{ balance }} </h3>
  <form method="POST" action="/logout">
    <input type=submit id="logout" value="Logout">
  </form>
  <h2> Join an existing room: </h2><br>
  <script defer src="/static/index.js"></script>
  <input type="text" id="roomid">
  <input type=submit id="joinroom" value="Join Room" onclick="join()">
  <h2> Or create a new room: </h2><br>
  <form method="POST" action="/create">
    <input type=submit id="createroom" value="Create Room">
  </form>
{% endblock %}
